<div ng-include src="'views/profile/header/profile-header.view.html'"></div>

<div ng-controller="GroceryStoresFollowingController as model">

    <nav class="right-align" ng-show="model.allGroceryStoresFollowing.length > 0">
        Page:&nbsp;
        <span ng-repeat="groceryStore in model.groceryStoresPages">
            <a ng-class="{'disabled': model.$location.url() === '/profile/grocerystoresfollowing/{{$index+1}}'}"
               ng-click="model.getGroceryStoresForPage($index+1)">
                {{$index+1}}&nbsp;
            </a>
        </span>
    </nav>
    <br>


    <div class="col-sm-8">
        <div ng-repeat="groceryStore in model.groceryStoresFollowing track by $index" class="vh-10">

            <span class="col-sm-6">
                <a ng-href="#/grocery/{{groceryStore._id}}">
                    {{groceryStore.name.charAt(0).toUpperCase() + groceryStore.name.slice(1)}} -
                    {{groceryStore.address.charAt(0).toUpperCase() + groceryStore.address.slice(1)}}
                </a>
            </span>
            <span class="col-sm-6">
                <button ng-click="model.unfollow(groceryStore._id, $index)" class="btn btn-default">Unfollow</button>
            </span>

        </div>
    </div>

</div>