<div ng-include src="'views/profile/header/profile-header.view.html'"></div>

<div ng-controller="ProfileAccountController as model">
    <div ng-if="model.profileUpdated">
        <div style="color:red">Profile updated.</div>
    </div>

    <div class="col-sm-4 text-center">
        <img class="form-group" id="img-profile" ng-src="{{model.currentUser.picture}}"><br>
        <form class="form-group center-align"
              action="/api/upload"
              method="post"
              enctype="multipart/form-data">
            <input name="userId" value="{{model.currentUser._id}}" style="display: none"/>
            <input type="file" name="picFile" class="form-group form-control" />
            <button type="submit" class="btn btn-block form-group">Upload a Picture</button>
        </form>
    </div>


    <div class="col-sm-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <input ng-model="model.currentUser.username" type="text" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input ng-model="model.currentUser.email" type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Location:</label>
                <div class="col-sm-10">
                    <input ng-model="model.currentUser.location" type="text" class="form-control" placeholder="City, State or Zipcode where you shop the most :)">
                </div>
            </div>
            <div ng-class="{'form-group': true, 'has-error': model.passwordError}">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input ng-model="model.password" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div ng-class="{'form-group': true, 'has-error': model.passwordError}">
                <label class="col-sm-2 control-label">Verify Password:</label>
                <div class="col-sm-10">
                    <input ng-model="model.verify" type="password" class="form-control" placeholder="Verify password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="model.update()" type="submit" class="btn btn-block">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
