<div ng-controller="FruitController as model" class="container">

    <div ng-show="model.reviews.length === 0">
        <h1>
            {{model.fruit.charAt(0).toUpperCase() + model.fruit.slice(1)}}
        </h1>
        <hr>

        There are no reviews for this fruit yet! Get started by <a href="#/review/{{model.grocery._id}}/{{model.fruit}}">writing a review</a>.
    </div>

    <div ng-hide="model.reviews.length === 0">


        <h1>
            {{model.fruit.charAt(0).toUpperCase() + model.fruit.slice(1)}}&nbsp;
            <span ng-repeat="i in model.rangeArray(model.averageRating) track by $index">
                <span>&#x2605;</span>
            </span>
            <span ng-repeat="i in model.rangeArray(5 - model.averageRating) track by $index">
                <span>&#x2606;</span>
            </span>
        </h1>
        <hr>


        <p>
            <a ng-href="#/grocery/{{model.grocery._id}}">
                {{model.grocery.name.charAt(0).toUpperCase() + model.grocery.name.slice(1)}}&nbsp;
                - {{model.grocery.address}}
            </a>
        </p>

        <p class="float-left">
            <a href="#/review/{{model.grocery._id}}/{{model.fruit}}">Write a Review</a>
        </p>

        <button ng-show="model.currentUser.admin" ng-click="model.deleteFruit()" class="float-right btn btn-default">Delete this fruit</button>




        <p class="float-none-right">
            <nav class="right-align">
                Page:&nbsp;
                    <span ng-repeat="page in model.reviewsPages">
                        <a ng-class="{'disabled': model.$location.url() === '/grocery/{{model.grocery._id}}/{{model.fruit}}/{{$index+1}}'}"
                           ng-click="model.getReviewsForPage($index+1)">
                            {{$index+1}}&nbsp;
                        </a>
                    </span>
            </nav>
        </p>


        <div ng-repeat="review in model.reviewsPage">
            <p>
                <fruit-review review="review" delete-update="model.updateReviewPages()"></fruit-review>
            </p>
        </div>

    </div>


</div>