<div id="fruit-review">
    <div class="container-fluid">
        <!-- Profile picture on the left -->

    </div>
    <div class="container-fluid">
        <div>
            <!-- Profile picture on the left -->
            <div class="col-xs-3 text-center" style="overflow: hidden">
                <a ng-href="#/user/{{user._id}}">{{user.username}}</a>
                <br style="margin: 10px">
                <a ng-href="#/user/{{user._id}}">
                    <img id="img-review" ng-src="{{user.picture}}">
                </a>
            </div>
            <!-- Review paragraph -->
            <div class="col-xs-9">
                <!-- Stars floating -->
                <div class="text-right">
                    {{review.date | date : format : shortDate}}
                <span ng-repeat="i in rangeArray(review.rating) track by $index">
                    <span>&#x2605;</span>
                </span>
                <span ng-repeat="i in rangeArray(5 - review.rating) track by $index">
                    <span>&#x2606;</span>
                </span>
                </div>
                <p>{{review.text}}</p>
            </div>
        </div>
        <!-- Edit and delete glyphs -->
        <div>
            <div class="col-xs-12 text-right">
                <span ng-if="currentUser && user._id === currentUser._id">
                    <a ng-click="editReview(review._id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </span>
                <span ng-if="currentUser && (user._id === currentUser._id || currentUser.admin)">
                    <a ng-click="deleteReview(review._id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>

</div>