<div class="container">
    <h1>Register</h1>
    <hr>

    <form ng-controller="RegisterController as model" class="form-horizontal">
        <div ng-if="model.registerError" class="form-group">
            <div class="col-sm-10 col-sm-offset-2" style="color:red">
                Error registering. Please try again later.
            </div>
        </div>
        <div ng-if="model.emailExists" class="form-group">
            <div class="col-sm-10 col-sm-offset-2" style="color:red">
                Account already exists for this email.
            </div>
        </div>
        <div ng-class="{'form-group': true, 'has-error': model.usernameError}">
            <label class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-10">
                <input ng-model="model.username"
                       type="text"
                       class="form-control"
                       placeholder="Username">
            </div>
        </div>

        <div ng-class="{'form-group': true, 'has-error': model.emailError}">
            <label class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input ng-model="model.email"
                       type="email"
                       class="form-control"
                       placeholder="Email">
            </div>
        </div>

        <div ng-class="{'form-group': true, 'has-error': model.passwordError}">
            <label class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input ng-model="model.password"
                       type="password"
                       class="form-control"
                       placeholder="Password">
            </div>
        </div>
        <div ng-class="{'form-group': true, 'has-error': model.verifyError}">
            <label class="col-sm-2 control-label">Verify Password:</label>
            <div class="col-sm-10">
                <input ng-model="model.verify"
                       type="password"
                       class="form-control"
                       placeholder="Re-type Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="model.register()"
                        class="btn btn-block btn-default">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>